<%= form_for(@user) do |f| %>

<% if @user.errors.any? %>
<ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<div class="field input-prepend">
    <%= f.label :screen_name %>
    <span class="add-on">@</span>
    <%= f.text_area :screen_name, :rows => 1 %>
</div>

<div class="field">
    <%= f.label :name %>
    <%= f.text_area :name, :rows => 1 %>
</div>

<div class="field">
    <%= f.label :profile_image_url %>
    <%= f.text_area :profile_image_url, :rows => 1 %>
</div>

<div class="field">
  <%= f.submit %>
</div>

<% end %>