<h2><%= @user.name %></h2>

<table class="table row-table">
    <tbody>
        <tr>
            <td><%= $user_screen_name %></td>
            <td><%= link_to image_tag(@user.profile_image_url, :width => $twitter_image_width, :class => "img-rounded"), twitter_path(@user.screen_name) %> <%= link_to @user.screen_name, twitter_path(@user.screen_name) %></td>
        </tr>
        <tr>
            <td><%= $user_reading_count %></td>
            <td><%= @user.reading_count %></td>
        </tr>
        <tr>
            <td><%= $user_read_count %></td>
            <td><%= @user.read_count %></td>
        </tr>
        <tr>
            <td><%= $label_sign_in_at %></td>
            <td><%= @user.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@user.created_at.wday]})") %></td>
        </tr>
        <tr>
            <td><%= $label_updated_at %></td>
            <td><%= @user.updated_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@user.created_at.wday]})") %></td>
        </tr>
    </tbody>
</table>
