<%= form_for(@book, :html => {:class => "form-horizontal"}) do |f| %>

<% if @book.errors.any? %>
<ul>
    <% @book.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label', :for => 'title' %>
    <div class="controls">
    <%= f.text_area :title, :rows => 1, :id => 'title' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :author, :class => 'control-label', :for => 'author' %>
    <div class="controls">
    <%= f.text_area :author, :rows => 1, :id => 'author' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :manufacturer, :class => 'control-label', :for => 'manufacturer' %>
    <div class="controls">
    <%= f.text_area :manufacturer, :rows => 1, :id => 'manufacturer' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :isbn, :class => 'control-label', :for => 'isbn' %>
    <div class="controls">
    <%= f.text_area :isbn, :rows => 1, :id => 'isbn' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :volume, :class => 'control-label', :for => 'volume' %>
    <div class="controls">
    <%= f.text_area :volume, :rows => 1, :id => 'volume' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :small_image, :class => 'control-label', :for => 'small_image' %>
    <div class="controls">
    <%= f.text_area :small_image, :rows => 1, :id => 'small_image' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :medium_image, :class => 'control-label', :for => 'medium_image' %>
    <div class="controls">
    <%= f.text_area :medium_image, :rows => 1, :id => 'medium_image' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :detail_page_url, :class => 'control-label', :for => 'detail_page_url' %>
    <div class="controls">
    <%= f.text_area :detail_page_url, :rows => 1, :id => 'detail_page_url' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :read_count, :class => 'control-label', :for => 'read_count' %>
    <div class="controls">
    <%= f.text_area :read_count, :rows => 1, :id => 'read_count' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
    <%= f.submit '登録', :class => 'btn btn-primary btn-large' %>
    </div>
  </div>
<% end %>