<table class="table">
    <thead>
        <tr>
            <td class="center"></td>
            <td class="center"><%= $book_title %></td>
            <td class="center"><%= $book_author %></td>
            <td class="center"><%= $book_manufacturer %></td class="center">
            <td class="center"><%= $book_isbn %></td>
            <td></td>
            <td class="center"><%= $book_status %></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <% if @book.lend_status == 0 %>
            <tr id="book_<%= @book.id %>">
                <td class="center"><%= link_to image_tag(@book.medium_image, :width => $book_image_large_width), book_path(@book) %></td>
                <td class="title"><%= link_to @book.title, book_path(@book) %></td>
                <td class="center"><%= @book.author %></td>
                <td class="center"><%= @book.manufacturer %></td>
                <td class="center"><%= @book.isbn %></td>
                <td class="center"><%= link_to "amazon", @book.detail_page_url%></td>
                <td class="center"><a class="btn btn-success btn-primary disabled"><%= $book_able %></a></td>
                <td class="center"></td>
            </tr>
        <% else %>
            <tr id="book_<%= @book.id %>">
                <td class="center"><%= link_to image_tag(@book.medium_image, :width => $book_image_large_width), book_path(@book) %></td>
                <td class="title"><%= link_to @book.title, book_path(@book) %></td>
                <td class="center"><%= @book.author %></td>
                <td class="center"><%= @book.manufacturer %></td>
                <td class="center"><%= @book.isbn %></td>
                <td class="center"><%= link_to "amazon", @book.detail_page_url%></td>
                <td class="center"><a class="btn btn-danger btn-primary disabled"><%= $book_unable %></a></td>
                <td class="center"><%= link_to image_tag(@book.user.profile_image_url, :width => $twitter_image_width), user_path(@book.user) %><br /><%= @book.user.name %></td>
            </tr>
        <% end %>
    </tbody>
</table>