<h2><%= link_to @book.title, book_path(@book) %></h2>
<div class="row-fluid">
    <div class="span3 row-thumb">
        <%= link_to image_tag(@book.medium_image, :width => $book_image_large_width, :class => "img-polaroid"), book_path(@book) %>
    </div>
    <div class="span9">
        <table class="table row-table">
            <tbody>
                <% if @book.lend_status == 0 %>
                    <tr>
                        <td><%= $book_author %></td>
                        <td><%= @book.author %></td>
                    </tr>
                    <tr>
                        <td><%= $book_manufacturer %></td >
                        <td><%= @book.manufacturer %></td>
                    </tr>
                    <tr>
                        <td><%= $book_isbn %></td>
                        <td><%= @book.isbn %></td>
                    </tr>
                    <tr>
                        <td><%= $book_amazon_label %></td>
                        <td><%= link_to $book_amazon, @book.detail_page_url %></td>
                    </tr>
                    <tr>
                        <td><%= $book_read_count %></td>
                        <td><%= @book.read_count %></td>
                    </tr>
                    <tr>
                        <td><%= $book_status %></td>
                        <td><a class="btn btn-success btn-primary disabled"><%= $book_available %></a></td>
                    </tr>
                <% else %>
                    <tr>
                        <td><%= $book_title %></td>
                        <td><%= link_to @book.title, book_path(@book) %></td>
                    </tr>
                    <tr>
                        <td><%= $book_author %></td>
                        <td><%= @book.author %></td>
                    </tr>
                    <tr>
                        <td><%= $book_manufacturer %></td >
                        <td><%= @book.manufacturer %></td>
                    </tr>
                    <tr>
                        <td><%= $book_isbn %></td>
                        <td><%= @book.isbn %></td>
                    </tr>
                    <tr>
                        <td><%= $book_amazon_label %></td>
                        <td><%= link_to $book_amazon, @book.detail_page_url%></td>
                    </tr>
                    <tr>
                        <td><%= $book_read_count %></td>
                        <td><%= @book.read_count %></td>
                    </tr>
                    <tr>
                        <td><%= $book_status %></td>
                        <td><a class="btn btn-danger btn-primary disabled"><%= $book_unavailable %></a></td>
                    </tr>
                    <tr>
                        <td><%= $user_label %></td>
                        <td><%= link_to image_tag(@book.user.profile_image_url, :width => $twitter_image_width, :class => "img-rounded"), user_path(@book.user) %><br /><%= link_to @book.user.name, user_path(@book.user), :class => "name" %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>