<div>
    <p>右端のボタンで貸出状態を変更できます。</p>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td></td>
            <td>タイトル</td>
            <td></td>
            <td></td>
            <td>状態</td>
            <td>貸出先</td>
        </tr>
    </thead>
    <tbody>
        <% @books.each do |book| %>
            <% if book.status == 0 %>
                <tr id="book_<%= book.id %>" class="success">
                    <td><%= link_to image_tag(book.medium_image, :width => "100"), book.detail_page_url %></td>
                    <td><%= link_to book.title, book_path(book) %></td>
                    <td><%= link_to "詳細", book_path(book) %></td>
                    <td><%= link_to "amazon", book.detail_page_url%></td>
                    <td><a class="btn btn-success btn-primary disabled">貸出可能</a></td>
                    <td></td>
                </tr>
            <% else %>
                <tr id="book_<%= book.id %>" class="danger">
                    <td><%= link_to image_tag(book.medium_image, :width => "100"), book.detail_page_url %></td>
                    <td><%= link_to book.title, book_path(book) %></td>
                    <td><%= link_to "詳細", book_path(book) %></td>
                    <td><%= link_to "amazon", book.detail_page_url%></td>
                    <td><a class="btn btn-danger btn-primary disabled">貸出中</a></td>
                    <td><%= link_to image_tag(book.user.profile_image_url, :width => "50"), "https://twitter.com/" + book.user.screen_name %></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>
