<% if @books.empty? %>
<h2><%= $book_all %></h2>

<div class="search">
    <form action="/books/register" method="post">
        <fieldset>
            <p>本が１冊も見つかりません。</p>
            <p>本の登録がまだ済んでいない場合は、以下のフォームにISBNを入力して登録してください。</p>
            <p>Amazon APIを用いて、情報の取得を行います。</p>
            <input type="text" name="isbn" placeholder="例: 4822234630" class="input-large search-query" pattern="[0-9]{10,15}" autofocus required>
            <input type="submit" value="<%= $button_submit %>" class="btn btn-primary btn-large">
        </fieldset>
    </form>
    <p>Androidアプリを使えば、バーコード読み取りによって登録することもできます。ソース: <a href="https://github.com/uedayo/habook-android">GitHub</a></p>
</div>

<% else %>
<h2><%= $book_search %></h2>

<div id="search_form_box" class="search">
    <form class="form-search" action="/books/search" method="get" role="search">
        <p>登録済みの本の検索を行います。</p>
        <input class="input-xxlarge search-query" name="q" placeholder="タイトルの一部を入力してください。" type="text" value="<%= params[:q] %>">
        <input class="btn btn-primary btn-large" alt="検索" value="検索" type="submit">
    </form>
</div>
<h2><%= $book_all %></h2>

<table class="table table-hover">
    <thead>
        <tr>
            <td></td>
            <td><%= $book_title %></td>
            <td><%= $book_amazon_label %></td>
            <td><%= $book_read_count %></td>
            <td><%= $book_status %></td>
        </tr>
    </thead>
    <tbody>
        <% @books.each do |book| %>
            <% if book.lend_status == 0 %>
                <tr id="book_<%= book.id %>">
                    <td><%= link_to image_tag(book.medium_image, :width => $book_image_width, :class => "img-polaroid"), book_path(book) %></td>
                    <td class="title"><%= link_to book.title, book_path(book) %></td>
                    <td><%= link_to $book_amazon, book.detail_page_url %></td>
                    <td><%= book.read_count %></td>
                    <td><%= link_to $action_lend, booklend_path(book.isbn), :class => "btn btn-success btn-large" %></td>
                </tr>
            <% else %>
                <tr id="book_<%= book.id %>" class="error">
                    <td><%= link_to image_tag(book.medium_image, :width => $book_image_width, :class => "img-polaroid"), book_path(book) %></td>
                    <td class="title"><%= link_to book.title, book_path(book) %></td>
                    <td><%= link_to $book_amazon, book.detail_page_url%></td>
                    <td><%= book.read_count %></td>
                    <td><%= link_to image_tag(book.user.profile_image_url, :width => $twitter_image_width, :class => "img-rounded"), user_path(book.user) %><br />
                        <%= link_to book.user.name, user_path(book.user), :class => "name" %></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>
<% end %>