<%= render 'detail' %>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td></td>
            <td>Screen name</td>
            <td>Name</td>
            <td>Operation</td>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr id="user_<%= user.id %>">
            <td><%= link_to image_tag(user.profile_image_url, :width => $twitter_image_width), "https://twitter.com/" + user.screen_name %></td>
            <td><%= link_to user.screen_name, user_path(user) %></td>
            <td><%= link_to user.name, user_path(user) %></td>
            <td><%= link_to "貸出", bookupdate_path(@book.isbn, user.id), :class => "btn btn-success btn-primary" %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'home', books_path %>