<h1><%= @book.title %></h1>

<%= link_to image_tag(@book.medium_image), @book.detail_page_url%>
<p><%= @book.author %></p>
<p><%= @book.manufacturer %></p>
<p><%= @book.isbn %></p>

<%= link_to 'home', books_path %>